/* =============   GLOBAL  =============  */
:root {
    --dark-green: #2D4A22;
    --dark-blue: #363f5f;
    --green: #49AA26;
    --light-green: #3dd705;
    --red: #e92929;
    --gray: #969cb3;
    --ice: #f0f2f5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 93.75%;
}

body {
    background: #f0f2f5;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: min(90vw, 800px);
    margin: auto;
}

/* =============   SCREEN READER  =============  */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

/* =============   TITLES  =============  */
h2 {
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;
    color: var(--dark-blue);
    font-weight: normal;
}


/* =============   LINKS AND BUTTONS  =============  */
.button.new, .founder {
    color: var(--green);
    text-decoration: none;
    display: inline-block;
    margin-bottom: 0.8rem;
    transition: 400ms;
}

.button.new:hover, .founder:hover {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    transition: 400ms;
}

.founder {
    font-weight: bold;
    opacity: 0.9;
}

.button.cancel {
    display: flex;
    text-decoration: none;
    color: var(--red);
    border: 2px solid var(--red);
    height: 50px;
    border-radius: 0.25rem;
    justify-content: center;
    align-items: center;
    opacity: 0.6;
    transition: 400ms;
}

.button.cancel:hover {
    opacity: 1;
    transition: 400ms;
}

button {
    width: 100%;
    height: 50px;
    font-weight: bold;
    color: #fff;
    background-color: var(--green);
    border: none;
    border-radius: 0.25rem;
    transition: 400ms;
    cursor: pointer;
}

button:hover {
    background-color: var(--light-green);
    transition: 400ms;
}


/* =============   HEADER  =============  */
header {
    background-color: var(--dark-green);
    padding: 2rem 0 10rem;
    text-align: center;
}

/* =============   BALANCE  =============  */
#balance {
    margin-top: -8rem;
}

#balance h2 {
    color: #fff;
    margin-top: 0;
}


/* =============   CARDS  =============  */
.card {
    background-color: #fff;
    padding: 1.5rem 2rem;
    margin-bottom: 2rem;
    border-radius: 0.25rem;
    color: var(--dark-blue);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transition: 1s;
}

.card:hover {
    box-shadow: none;
    transition: 1s;
}

.card h3 {
    font-weight: normal;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card p {
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 1rem;
}

.card.total {
    color: #fff;
    background-color: var(--green);
}

/* =============   TRANSACTIONS   =============  */
#transaction {
    width: 100%;
    display: block; /* RESPONSIVE */
    overflow-x: auto;
}


#data-table {
    width: 100%;
    text-align: left;
    color: var(--gray);
    border-spacing: 0 0.5rem;
}

table thead th:first-child, table thead td:first-child{
    border-radius: 0.25rem 0 0 0.25rem;
}

table thead th:last-child, table thead td:last-child{
    border-radius: 0 0.25rem 0.25rem 0;
}

table th {
    background-color: #fff;
    padding: 1rem 2rem;
    font-weight: normal;
}

table tbody tr {
    opacity: 0.7;
    transition: 300ms;
}

table tbody tr:hover {
    opacity: 1;
    transition: 300ms;
}

table tbody td {
    background-color: #fff;
    padding: 1rem 2rem;
}

table tbody td.description {
    color: var(--dark-blue);
}

table tbody td.income {
    color: #12a454;
}

table tbody td.expense {
    color: var(--red);
}

img.svg {
    cursor: pointer;
}

/* =============   FOOTER  =============  */
footer {
    text-align: center;
    padding: 4rem 0 2rem;
}

footer p span{
    color: var(--dark-blue);
    opacity: 0.6;
}

/* =============   MODAL  =============  */
.modal-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0; /* INVISIBLE */
    visibility: hidden;
    transition: 400ms;
    z-index: 999;
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
    transition: 400ms;
}

.modal {
    background-color: var(--ice);
    padding: 2.4rem;
    border-radius: 0.25rem;
    position: relative;
    z-index: 1;
    max-width: 500px;
    width: 90%;   
}

/* =============   FORM =============  */
#form {
    max-width: 500px;
}

#form h2 {
    margin-top: 0;
}

input {
    width: 100%;
    padding: 0.8rem;
    border: none;
    border-radius: 0.2rem;
    outline: none;
    transition: 700ms;
}

input:hover {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    transition: 700ms;
}

.input-group {
    margin-top: 0.8rem;
}

.input-group small {
    opacity: 0.4;
}

.input-group.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-group.actions button, .input-group.actions .button {
    width: 48%;
}


/* =============   RESPONSIVE  =============  */
@media(min-width: 800px) {
    html {
        font-size: 87.5%;
    }
    
    #balance {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}
